.popup-content {
    margin: auto;
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
    align-items: center;

  }
  .popup-arrow {
 
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    margin: auto;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }
  .popup-content::-webkit-scrollbar {
    display: none;
  }
  .popup-content p{
    margin: auto;
    align-items: center;
    

  }